extends layout

block content
  h1= "Twitter Accounts"
  div
    table
      thead
        tr
          th= "id"
          th= "name"
          th= "screen name"
      tbody
        each account in accounts
          tr
            td= account.id_str
            td= account.name
            td= account.screen_name
